<nav class="nav d-flex justify-content-center mt-3 mb-4" id="nav-bar">
  <a class="nav-link" href="/">Home</a>
  <a class="nav-link" href="/clients">Clients</a>
  <a class="nav-link" href="/products">Products</a>
  <a class="nav-link" href="/invoices">Invoices</a>
</nav>
