<div id="client-list">
    <a href="/clients/edit">Create New</a>
    <table>
        <tbody>
            <% clients.forEach((client) => { %>
                <tr>
                    <td><a href="/clients/<%= client.id %>"><%= client.name %></a></td>
                    <td><a href="/clients/<%= client.id %>/delete">Delete</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<%= message %>