<div class="container text-center">
  <h1 style="font-size: 35px">Welcome to Fresh WoodLand Hills</h1>
  <p style="font-size: 15px">
    Discover convenience and quality with our online grocery store. Browse
    through a diverse <br />
    range of fresh produce, pantry staples, and household essentials from the
    comfort of your <br />
    home. With easy navigation and reliable delivery, we ensure your groceries
    arrive promptly, <br />
    saving you time and effort. Enjoy a seamless shopping experience with us –
    your go-to <br />
    destination for all your daily needs.
  </p>
  <img
    src="../images/grocery-store.jpeg"
    alt="grocery-store"
    id="grocery-store"
  />
</div>
