<main id = "home-page">
    <div >
        <h1>Welcome to Fresh WoodLand Hills</h1>
        <p>Discover convenience and quality with our online grocery store. Browse through a diverse
            <br> range of fresh produce, pantry staples, and household essentials from the comfort of your
            <br> home. With easy navigation and reliable delivery, we ensure your groceries arrive promptly,
            <br> saving you time and effort. Enjoy a seamless shopping experience with us – your go-to 
            <br> destination for all your daily needs.</p>
    </div>
    <img src="../images/grocery-store.jpeg" alt = "grocery-store" id="grocery-store">
</main>