<h3>New Product</h3>

<form action="/products/create" method="POST">
  <label for="name">Name:</label>
  <input id="name" name="name" type="text" value=<%= product.name ? product.name
  : '' %> >

  <label for="name">Code:</label>
  <input id="code" name="code" type="text" value=<%= product.code ? product.code
  : '' %> >

  <label for="unitCost">Unit Cost:</label>
  <input id="unitCost" name="unitCost" type="text" value=<%= product.unitCost ?
  product.unitCost : '' %> >

  <button type="submit" value="Submit">Submit</button>
</form>
<%= errorMessage %>
